<header class="site-header section-padding-img site-header-image">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-12 header-info">
        <h1>
          <span class="d-block text-primary">Recicla y</span>
          <span>Economiza!</span>
        </h1>
      </div>
    </div>
  </div>

  <img src="assets/positive-european-woman-has-break-after-work.jpg" class="header-image img-fluid" alt="">
</header>

<section class="contact section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">UNETE A <span>NOSOTROS</span></h2>

        <form [formGroup]="uneteForm" (ngSubmit)="onSubmit()" class="contact-form me-lg-5 pe-lg-3" role="form">

          <!-- Campo Nombre -->
          <div class="form-floating">
            <input type="text" formControlName="nombre" class="form-control" placeholder="Full name" required>
            <label for="nombre">Nombre</label>
            <div *ngIf="uneteForm.get('nombre')?.invalid && uneteForm.get('nombre')?.touched" class="text-danger">
              El nombre es obligatorio.
            </div>
          </div>

          <!-- Campo Correo -->
          <div class="form-floating my-4">
            <input type="email" formControlName="correo" class="form-control" placeholder="Email address" required>
            <label for="correo">Correo</label>
            <div *ngIf="uneteForm.get('correo')?.invalid && uneteForm.get('correo')?.touched" class="text-danger">
              Por favor ingresa un correo válido.
            </div>
          </div>

          <!-- Campo Número -->
          <div class="form-floating my-4">
            <input type="text" formControlName="numero" class="form-control" placeholder="Numero" required>
            <label for="numero">Numero</label>
            <div *ngIf="uneteForm.get('numero')?.invalid && uneteForm.get('numero')?.touched" class="text-danger">
              El número es obligatorio.
            </div>
          </div>

          <!-- Botón Enviar -->
          <div class="col-lg-5 col-6">
            <button type="submit" [disabled]="uneteForm.invalid" class="form-control color-change-button">Enviar</button>
          </div>
        </form>

      </div>

      <!-- Información adicional -->
      <div class="col-6 contact-info">
        <h6 class="mb-3">UNETE A NUESTRA INICIATIVA</h6>
        <a href="mailto:studio@company.com" class="custom-link">
          Se te enviara toda la información al correo y numero registrado
          <i class="bi-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</section>

