<header class="site-header section-padding-img site-header-image">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-12 header-info">
        <h1>
          <span class="d-block text-primary">Recicla y</span>
          <span>Economiza!</span>
        </h1>
      </div>
    </div>
  </div>

  <img src="assets/positive-european-woman-has-break-after-work.jpg" class="header-image img-fluid" alt="">
</header>

<section class="contact section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-12">
        <h2 class="mb-4">UNETE A <span>NOSOTROS</span></h2>

        <form class="contact-form me-lg-5 pe-lg-3" role="form">

          <div class="form-floating">
            <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required>

            <label for="name">Nombre</label>
          </div>

          <div class="form-floating my-4">
            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>

            <label for="email">Correo</label>
          </div>

          <div class="form-floating my-4">
            <input type="subject" name="subject" id="subject"class="form-control" placeholder="Subject" required>

            <label for="subject">Numero</label>
          </div>

          <div class="col-lg-5 col-6">
            <button type="submit" class="form-control color-change-button">Enviar</button>
          </div>
        </form>
      </div>




      <div class="col-6 contact-info">
        <h6 class="mb-3">UNETE A NUESTRA INICIATIVA</h6>

        <a href="mailto:studio@company.com" class="custom-link">
          Se te enviara toda la información al correo y numero registrado
          <i class="bi-arrow-right ms-2"></i>
        </a>
      </div>


    </div>
  </div>
</section>
