<section class="products section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Últimas noticias</h2>
      </div>

      <div *ngFor="let noticia of noticias" class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a [href]="noticia.link" target="_blank">
            <img
              *ngIf="noticia.imagen"
              [src]="noticia.imagen"
              class="img-fluid product-image"
              [alt]="noticia.titulo">
            <!-- Imagen por defecto si no hay imagen -->
            <img
              *ngIf="!noticia.imagen"
              src="assets/images/default-news-image.jpg"
              class="img-fluid product-image"
              [alt]="noticia.titulo">
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a [href]="noticia.link" target="_blank">{{ noticia.titulo }}</a>
              </h5>
              <p class="product-p">{{ noticia.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
