<section class="products section-padding">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h2 class="mb-5">Ultimas noticias</h2>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a>
            <img src="assets/noticia/noticias1.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">


            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://www.gob.pe/institucion/munitrujillo/noticias/943550-inauguran-estacion-de-reciclaje-recicla-en-el-bosque" >Inauguran estación de reciclaje Recicla+ en El Bosque</a>
              </h5>
              <p class="product-p">En ceremonia con participación de vecinos y alumnos de la zona se inauguró la estación de reciclaje Recicla+, que es parte de un programa de Natura, AVON y LATAM, empresas privadas ...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a>
            <img src="assets/noticia/noticias2.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">

            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://diariocorreo.pe/edicion/la-libertad/segat-disena-ruta-para-fomentar-el-reciclaje-en-trujillo-la-libertad-peru-noticia/#:~:text=Actualizado%20el%2024%2F08%2F2024,siete%20urbanizaciones%20de%20la%20ciudad." >Segat diseña ruta para fomentar el reciclaje en Trujillo</a>
              </h5>

              <p class="product-p">El Servicio de Gestión Ambiental de Trujillo (Segat), a través del impulso de la Municipalidad Provincial de Trujillo, realizó el lanzamiento de una ruta de ... </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12">
        <div class="product-thumb">
          <a>
            <img src="assets/noticia/noticias3.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://inforegion.pe/todos-sumamos-el-reto-de-formalizar-la-cadena-de-reciclaje-en-el-peru/" >Todos sumamos: El reto de formalizar la cadena de reciclaje en el Perú</a>
              </h5>

              <p class="product-p">Entender que el ciudadano tiene la obligación y responsabilidad de reciclar no es una tarea fácil; pero el reto es aún más grande cuando ...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="#">
            <img src="assets/noticia/noticias4.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">

            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://www.actualidadambiental.pe/dia-mundial-de-reciclaje-desafios-del-reciclaje-en-el-peru/" >Día Mundial de Reciclaje: Desafíos del reciclaje en el Perú</a>
              </h5>

              <p class="product-p">La UNESCO declaró el 17 de mayo como el “Día Mundial del Reciclaje” en 2005.</p>
              <p class="product-p">Según el Ministerio del Ambiente, a julio del 2023, el Perú producía 1.2 millones de toneladas de residuos ...</p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a>
            <img src="assets/noticia/noticias5.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://www.revistaeconomia.com/reciclaje-en-el-peru-cuales-son-los-retos-y-desafios-que-enfrenta-el-pais-en-el-2024/" >Reciclaje en el Perú: ¿cuáles son los retos y desafíos que enfrenta el país en el 2024?</a>
              </h5>

              <p class="product-p">La carencia de una cultura de reciclaje en el Perú está directamente vinculada a problemas logísticos y a la informalidad ...</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a>
            <img src="assets/noticia/noticias6.png" class="img-fluid product-image" alt="">
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="https://www.gob.pe/institucion/minam/noticias/955458-mas-de-148-500-toneladas-de-residuos-solidos-municipales-son-valorizados-en-el-pais" >Más de 148 500 toneladas de residuos sólidos municipales son valorizados en el país</a>                                        </h5>

              <p class="product-p">Según cifras del Minam, en el Perú se genera un promedio anual de 8 450 715 toneladas, entre orgánicos e inorgánicos ...</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
