<div class="container mt-5">
  <h3 class="h3">Proyectos Exitosos</h3>
  <p class="">Mira los proyectos que más éxito han tenido</p>

  <div class="row">
    <div class="col-12" *ngFor="let proyecto of proyectos">
      <div class="card-custom">
        <img
          *ngIf="proyecto.imagen"
          [src]="proyecto.imagen"
          [alt]="proyecto.titulo">
        <img
          *ngIf="!proyecto.imagen"
          src="assets/images/default-project-image.jpg"
          [alt]="proyecto.titulo">
        <div class="card-body-custom">
          <h5 class="card-title">{{proyecto.titulo}}</h5>
          <p class="card-text">{{proyecto.descripcion}}</p>
          <a [href]="proyecto.link" target="_blank" class="btn btn-warning">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
