
<header class="section-padding d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12">
        <h1>
          <span class="d-block text-primary">Estadísticas</span>
        </h1>
      </div>
    </div>
  </div>
</header>

<section class="faq section-padding">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="row">
          <!-- Image Placeholder -->
          <div class="col-lg-6 col-12">
            <img src="assets/estadisticas1.jpg" alt="Municipalidades que más reciclan" class="img-fluid">
          </div>
          <!-- Text Content -->
          <div class="col-lg-6 col-12">
            <h3>Municipalidades que más reciclan</h3>
            <p>Callao lidera en reciclaje con casi 60% de sus municipalidades involucradas. Otros departamentos como Junín y Apurímac alcanzan entre 30% y 40%, mientras que Moquegua y Madre de Dios tienen menos del 10% de participación. Hay una gran disparidad en el reciclaje en Perú.</p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <!-- Image Placeholder -->
          <div class="col-lg-6 col-12">
            <img src="assets/estadisticas2.jpg" alt="Tiempo de Biodegradación de Residuos Comunes" class="img-fluid">
          </div>
          <!-- Text Content -->
          <div class="col-lg-6 col-12">
            <h3>Tiempo de Biodegradación de Residuos Comunes</h3>
            <p>Esta gráfica muestra el tiempo estimado que tardan en biodegradarse diferentes materiales, desde un vaso de polietileno que tarda 50 años hasta una línea de pescar que puede durar 600 años en el ambiente.</p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <!-- Image Placeholder -->
          <div class="col-lg-6 col-12">
            <img src="assets/estadisticas3.jpg" alt="Residuos Aprovechados en 2018" class="img-fluid">
          </div>
          <!-- Text Content -->
          <div class="col-lg-6 col-12">
            <h3>Residuos Aprovechados en 2018</h3>
            <p>Esta gráfica muestra las toneladas de residuos aprovechados en 2018, destacando el cartón con 240 mil toneladas, seguido por papel y plástico. Otros materiales como vidrio y metales también contribuyen significativamente.</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

  </div>
</section>
