
  <div class="main-content">
    <div class="accordion" id="companyAccordion">
      <div class="accordion-item">
        <h2>Sobre nosotros</h2>
        <div class="accordion-content">
          <p>Es una empresa dedicada a la recolección, reciclaje y reutilización de residuos,
            promoviendo prácticas sostenibles para reducir el impacto ambiental. Nuestro
            objetivo es transformar desechos en recursos valiosos, contribuyendo a un futuro
            más limpio y verde..</p>
        </div>
      </div>
      <div class="accordion-item">
        <h2>Sucursales</h2>
        <div class="accordion-content">
          <p>UPAO.</p>
        </div>
      </div>
      <div class="accordion-item">
        <h2>Aliados</h2>
        <div class="accordion-content">
          <p>Sin Desperdicio</p>
          <p>Werba.</p>
          <p>GIS</p>
          <p>Ando Reciclaje</p>
        </div>
      </div>
      <div class="accordion-item">
        <h2>Misión</h2>
        <div class="accordion-content">
          <p>Nuestra misión es concientizar acerca del reciclaje y la economia circular a traves de toda la región de La libertad.</p>
        </div>
      </div>
    </div>

    <div class="sponsors-section">
      <h3>Auspiciadores</h3>
      <div class="sponsors">
        <img src="assets/sponsor1.png" alt="Sin Desperdicio">
        <img src="assets/sponsor2.png" alt="Werba">
        <img src="assets/sponsor3.png" alt="GIS">
        <img src="assets/sponsor4.png" alt="Ando Reciclaje">
      </div>
    </div>
  </div>
