.main-content {
  padding: 20px;
}
.fade-in-text {
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.info-section {
  margin-bottom: 20px;
}

.accordion-item h2 {
  background-color: #e6e6e6;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;

}

.accordion-item.active .accordion-content {
  display: block;
}

/* Sponsors */
.sponsors-section {
  margin-top: 20px;
  text-align: center;
}

.sponsors-section h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.sponsors img {
  margin: 10px;
  height: 150px;
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.sponsors img:hover {
  transform: scale(1.1);
}

